<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>OnlineAcademy</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
   </head>
   <body>
      <!--Navigation-->
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
         <!--Logo-->
         <!-- Brand -->
         <a class="navbar-brand" href="#" style="padding-left: 50px;">
            <img height="25" width="25" src="https://www.flaticon.com/svg/static/icons/svg/2436/2436636.svg">
            OnlineAcademy
         </a>

         <!-- Links -->
         <ul class="container-fluid navbar-nav"  style="flex-grow: 1; padding-left: 200px;">
            <!-- Dropdown -->
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="caterories-dropdown" data-toggle="dropdown">
               Categories
               </a>
               <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Category #1</a>
                  <a class="dropdown-item" href="#">Category #2</a>
                  <a class="dropdown-item" href="#">Category #3</a>
                  <a class="dropdown-item" href="#">Category #4</a>
                  <a class="dropdown-item" href="#">Category #5</a>
                  <a class="dropdown-item" href="#">Category #6</a>
               </div>
            </li>
            <li>
               <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button type="button" class="btn btn-outline-info">
                     <i class="fa fa-search"></i>
                     Search
                  </button>
               </form>
            </li>
         </ul>
         <ul class="navbar-nav" >
            <li style="padding-right: 20px;">
               <form class="form-inline my-2 my-lg-0">
                  <button type="button" class="btn btn-outline-info">Login</button>
               </form>
            </li>
            <li style="padding-right: 20px;">
               <form class="form-inline my-2 my-lg-0" >
                  <button type="button" class="btn btn-outline-success">Create New Account</button>
               </form>
            </li>
         </ul>

      </nav>

      <!--List Group-->
      <div class="container-fluid mt-1">
         <div class="row">
           <div class="col-sm-3">
             <div class="card mt-3">
               <div class="card-header bg-dark text-white">
                 <h4>Categories</h4>
               </div>
               <div class="list-group list-group-flush">
                  <a href="#" class="list-group-item list-group-item-action">
                     <h5>Category #1
                        <span class="badge badge-primary badge-pill bg-dark">num</span>
                     </h5>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action">
                     <h5>Category #2
                        <span class="badge badge-primary badge-pill bg-dark">num</span>
                     </h5>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action">
                     <h5>Category #3
                        <span class="badge badge-primary badge-pill bg-dark">num</span>
                     </h5>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action">
                     <h5>Category #4
                        <span class="badge badge-primary badge-pill bg-dark">num</span>
                     </h5>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action">
                     <h5>Category #5
                        <span class="badge badge-primary badge-pill bg-dark">num</span>
                     </h5>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action">
                     <h5>Category #6
                        <span class="badge badge-primary badge-pill bg-dark">num</span>
                     </h5>
                  </a>
               </div>
             </div>
           </div>
         </div>
      </div>
      <%- body %>     
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   </body>
</html>