<nav class="navbar navbar-expand-md navbar-light bg-secondary main-menu" style="box-shadow:none">
    <div class="container">
      <div class="collapse navbar-collapse ">
        <h2 style="font-weight: 700; ">My Learning</h2>
      </div>
  
    </div>
  </nav>

<nav class="navbar navbar-expand-md navbar-light bg-secondary sub-menu">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="/user/learning/all-courses">All Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/learning/collection">Collection</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/learning/wistlist">Wistlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/learning/archived">Archived</a>
        </li>
      </ul>
    </div>
  </div>
</nav>




