<div class="hero_area">
    <section class="slider_section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="detail-box">
                        <h1>
                            Welcome to <br>
                            oCademy
                        </h1>
                    </div>
                    <div class="find_container ">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="searchBar"
                                    placeholder="What do you want to learn ?">

                            </div>
                            <div class="btn-box">
                                <button type="submit" class="btn ">Search</button>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="/images/slider-img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end slider section -->
</div>

<!-- category section -->
<section class="category_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Top Categories
            </h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="box">
                    <div class="img-box">
                        <img src="/images/c1.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Web Design
                        </h5>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="box">
                    <div class="img-box">
                        <img src="/images/c2.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Web Development
                        </h5>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="box">
                    <div class="img-box">
                        <img src="/images/c3.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Graphic Design
                        </h5>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="box">
                    <div class="img-box">
                        <img src="/images/c4.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Seo marketing
                        </h5>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="box">
                    <div class="img-box">
                        <img src="/images/c5.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Accounting
                        </h5>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="box">
                    <div class="img-box">
                        <img src="/images/c6.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Content Writing
                        </h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- end category section -->

<!-- job section -->
<section class="job_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Latest Courses
            </h2>
        </div>
        <div class="job_container">
            <div class="job_tabs-box" id="myTab" role="tablist">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active " id="jb-1-tab" data-toggle="tab" href="#jb-1" role="tab"
                            aria-controls="jb-1" aria-selected="true"> All </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " id="jb-2-tab" data-toggle="tab" href="#jb-2" role="tab"
                            aria-controls="jb-2" aria-selected="false"> Latest </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  " id="jb-3-tab" data-toggle="tab" href="#jb-3" role="tab"
                            aria-controls="jb-3" aria-selected="false"> Featured</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " id="jb-4-tab" data-toggle="tab" href="#jb-4" role="tab"
                            aria-controls="jb-4" aria-selected="false">Most Viewed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " id="jb-5-tab" data-toggle="tab" href="#jb-5" role="tab"
                            aria-controls="jb-5" aria-selected="false">Most Registered</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="job_board tab-pane fade show active" id="jb-1" role="tabpanel" aria-labelledby="jb-1-tab">
                    <div class="box">
                        <div class="job_content-box">
                            <div class="img-box">
                                <img src="/images/job_logo3.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Looking Graphic Designer (Logo + UI)
                                </h5>
                                <div class="detail-info">
                                    <h6>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>
                                            Washington. D.C.
                                        </span>
                                    </h6>
                                    <h6>
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        <span>
                                            $1200/mo
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="option-box">
                            <button class="fav-btn">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </button>
                            <a href="" class="apply-btn">
                                Apply Now
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="job_content-box">
                            <div class="img-box">
                                <img src="/images/job_logo6.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Are you Typography Expert?
                                </h5>
                                <div class="detail-info">
                                    <h6>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>
                                            New York
                                        </span>
                                    </h6>
                                    <h6>
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        <span>
                                            $56 - $90
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="option-box">
                            <button class="fav-btn">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </button>
                            <a href="" class="apply-btn">
                                Apply Now
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="job_content-box">
                            <div class="img-box">
                                <img src="/images/job_logo5.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Looking WordPress Developer for ThemeForest
                                </h5>
                                <div class="detail-info">
                                    <h6>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>
                                            Washington. D.C.
                                        </span>
                                    </h6>
                                    <h6>
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        <span>
                                            $400 - $540
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="option-box">
                            <button class="fav-btn">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </button>
                            <a href="" class="apply-btn">
                                Apply Now
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="job_content-box">
                            <div class="img-box">
                                <img src="/images/job_logo4.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Hiring Web Designer for Project
                                </h5>
                                <div class="detail-info">
                                    <h6>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>
                                            Washington. D.C.
                                        </span>
                                    </h6>
                                    <h6>
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        <span>
                                            $350 - $450
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="option-box">
                            <button class="fav-btn">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </button>
                            <a href="" class="apply-btn">
                                Apply Now
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="job_content-box">
                            <div class="img-box">
                                <img src="/images/job_logo1.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Development Team Lead
                                </h5>
                                <div class="detail-info">
                                    <h6>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>
                                            Washington. D.C.
                                        </span>
                                    </h6>
                                    <h6>
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        <span>
                                            $1200 - $1300
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="option-box">
                            <button class="fav-btn">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </button>
                            <a href="" class="apply-btn">
                                Apply Now
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="job_content-box">
                            <div class="img-box">
                                <img src="/images/job_logo2.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Make my website responsive device compatible
                                </h5>
                                <div class="detail-info">
                                    <h6>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>
                                            New York
                                        </span>
                                    </h6>
                                    <h6>
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        <span>
                                            $200 - $340
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="option-box">
                            <button class="fav-btn">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </button>
                            <a href="" class="apply-btn">
                                Apply Now
                            </a>
                        </div>
                    </div>
                </div>
                <div class="job_board tab-pane fade" id="jb-2" role="tabpanel" aria-labelledby="jb-2-tab">
                    <div class="box">
                        <div class="job_content-box">
                            <div class="img-box">
                                <img src="/images/job_logo1.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Development Team Lead
                                </h5>
                                <div class="detail-info">
                                    <h6>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>
                                            Washington. D.C.
                                        </span>
                                    </h6>
                                    <h6>
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        <span>
                                            $1200 - $1300
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="option-box">
                            <button class="fav-btn">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </button>
                            <a href="" class="apply-btn">
                                Apply Now
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="job_content-box">
                            <div class="img-box">
                                <img src="/images/job_logo5.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Looking WordPress Developer for ThemeForest
                                </h5>
                                <div class="detail-info">
                                    <h6>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>
                                            Washington. D.C.
                                        </span>
                                    </h6>
                                    <h6>
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        <span>
                                            $400 - $540
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="option-box">
                            <button class="fav-btn">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </button>
                            <a href="" class="apply-btn">
                                Apply Now
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="job_content-box">
                            <div class="img-box">
                                <img src="/images/job_logo3.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Looking Graphic Designer (Logo + UI)
                                </h5>
                                <div class="detail-info">
                                    <h6>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>
                                            Washington. D.C.
                                        </span>
                                    </h6>
                                    <h6>
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        <span>
                                            $1200/mo
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="option-box">
                            <button class="fav-btn">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </button>
                            <a href="" class="apply-btn">
                                Apply Now
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="job_content-box">
                            <div class="img-box">
                                <img src="/images/job_logo6.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Are you Typography Expert?
                                </h5>
                                <div class="detail-info">
                                    <h6>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>
                                            New York
                                        </span>
                                    </h6>
                                    <h6>
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        <span>
                                            $56 - $90
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="option-box">
                            <button class="fav-btn">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </button>
                            <a href="" class="apply-btn">
                                Apply Now
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="job_content-box">
                            <div class="img-box">
                                <img src="/images/job_logo4.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Hiring Web Designer for Project
                                </h5>
                                <div class="detail-info">
                                    <h6>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>
                                            Washington. D.C.
                                        </span>
                                    </h6>
                                    <h6>
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        <span>
                                            $350 - $450
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="option-box">
                            <button class="fav-btn">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </button>
                            <a href="" class="apply-btn">
                                Apply Now
                            </a>
                        </div>
                    </div>

                    <div class="box">
                        <div class="job_content-box">
                            <div class="img-box">
                                <img src="/images/job_logo2.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Make my website responsive device compatible
                                </h5>
                                <div class="detail-info">
                                    <h6>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>
                                            New York
                                        </span>
                                    </h6>
                                    <h6>
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        <span>
                                            $200 - $340
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="option-box">
                            <button class="fav-btn">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </button>
                            <a href="" class="apply-btn">
                                Apply Now
                            </a>
                        </div>
                    </div>
                </div>
                <div class="job_board tab-pane fade" id="jb-3" role="tabpanel" aria-labelledby="jb-3-tab">
                    <div class="box">
                        <div class="job_content-box">
                            <div class="img-box">
                                <img src="/images/job_logo6.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Are you Typography Expert?
                                </h5>
                                <div class="detail-info">
                                    <h6>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>
                                            New York
                                        </span>
                                    </h6>
                                    <h6>
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        <span>
                                            $56 - $90
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="option-box">
                            <button class="fav-btn">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </button>
                            <a href="" class="apply-btn">
                                Apply Now
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="job_content-box">
                            <div class="img-box">
                                <img src="/images/job_logo3.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Looking Graphic Designer (Logo + UI)
                                </h5>
                                <div class="detail-info">
                                    <h6>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>
                                            Washington. D.C.
                                        </span>
                                    </h6>
                                    <h6>
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        <span>
                                            $1200/mo
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="option-box">
                            <button class="fav-btn">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </button>
                            <a href="" class="apply-btn">
                                Apply Now
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="job_content-box">
                            <div class="img-box">
                                <img src="/images/job_logo2.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Make my website responsive device compatible
                                </h5>
                                <div class="detail-info">
                                    <h6>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>
                                            New York
                                        </span>
                                    </h6>
                                    <h6>
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        <span>
                                            $200 - $340
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="option-box">
                            <button class="fav-btn">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </button>
                            <a href="" class="apply-btn">
                                Apply Now
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="job_content-box">
                            <div class="img-box">
                                <img src="/images/job_logo5.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Looking WordPress Developer for ThemeForest
                                </h5>
                                <div class="detail-info">
                                    <h6>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>
                                            Washington. D.C.
                                        </span>
                                    </h6>
                                    <h6>
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        <span>
                                            $400 - $540
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="option-box">
                            <button class="fav-btn">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </button>
                            <a href="" class="apply-btn">
                                Apply Now
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="job_content-box">
                            <div class="img-box">
                                <img src="/images/job_logo4.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Hiring Web Designer for Project
                                </h5>
                                <div class="detail-info">
                                    <h6>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>
                                            Washington. D.C.
                                        </span>
                                    </h6>
                                    <h6>
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        <span>
                                            $350 - $450
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="option-box">
                            <button class="fav-btn">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </button>
                            <a href="" class="apply-btn">
                                Apply Now
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="job_content-box">
                            <div class="img-box">
                                <img src="/images/job_logo1.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Development Team Lead
                                </h5>
                                <div class="detail-info">
                                    <h6>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>
                                            Washington. D.C.
                                        </span>
                                    </h6>
                                    <h6>
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        <span>
                                            $1200 - $1300
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="option-box">
                            <button class="fav-btn">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </button>
                            <a href="" class="apply-btn">
                                Apply Now
                            </a>
                        </div>
                    </div>
                </div>
                <div class="job_board tab-pane fade" id="jb-4" role="tabpanel" aria-labelledby="jb-4-tab">
                    <div class="box">
                        <div class="job_content-box">
                            <div class="img-box">
                                <img src="/images/job_logo5.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Looking WordPress Developer for ThemeForest
                                </h5>
                                <div class="detail-info">
                                    <h6>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>
                                            Washington. D.C.
                                        </span>
                                    </h6>
                                    <h6>
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        <span>
                                            $400 - $540
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="option-box">
                            <button class="fav-btn">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </button>
                            <a href="" class="apply-btn">
                                Apply Now
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="job_content-box">
                            <div class="img-box">
                                <img src="/images/job_logo4.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Hiring Web Designer for Project
                                </h5>
                                <div class="detail-info">
                                    <h6>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>
                                            Washington. D.C.
                                        </span>
                                    </h6>
                                    <h6>
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        <span>
                                            $350 - $450
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="option-box">
                            <button class="fav-btn">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </button>
                            <a href="" class="apply-btn">
                                Apply Now
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="job_content-box">
                            <div class="img-box">
                                <img src="/images/job_logo1.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Development Team Lead
                                </h5>
                                <div class="detail-info">
                                    <h6>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>
                                            Washington. D.C.
                                        </span>
                                    </h6>
                                    <h6>
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        <span>
                                            $1200 - $1300
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="option-box">
                            <button class="fav-btn">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </button>
                            <a href="" class="apply-btn">
                                Apply Now
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="job_content-box">
                            <div class="img-box">
                                <img src="/images/job_logo3.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Looking Graphic Designer (Logo + UI)
                                </h5>
                                <div class="detail-info">
                                    <h6>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>
                                            Washington. D.C.
                                        </span>
                                    </h6>
                                    <h6>
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        <span>
                                            $1200/mo
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="option-box">
                            <button class="fav-btn">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </button>
                            <a href="" class="apply-btn">
                                Apply Now
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="job_content-box">
                            <div class="img-box">
                                <img src="/images/job_logo6.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Are you Typography Expert?
                                </h5>
                                <div class="detail-info">
                                    <h6>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>
                                            New York
                                        </span>
                                    </h6>
                                    <h6>
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        <span>
                                            $56 - $90
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="option-box">
                            <button class="fav-btn">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </button>
                            <a href="" class="apply-btn">
                                Apply Now
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="job_content-box">
                            <div class="img-box">
                                <img src="/images/job_logo2.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Make my website responsive device compatible
                                </h5>
                                <div class="detail-info">
                                    <h6>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>
                                            New York
                                        </span>
                                    </h6>
                                    <h6>
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        <span>
                                            $200 - $340
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="option-box">
                            <button class="fav-btn">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </button>
                            <a href="" class="apply-btn">
                                Apply Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="btn-box">
            <a href="">
                View All
            </a>
        </div>
    </div>
</section>
<!-- end job section -->

<!-- client section -->

<section class="client_section layout_padding-bottom">
    <div class="container-fluid">
        <div class="heading_container heading_center psudo_white_primary mb_45">
            <h2>
                What says our Clients
            </h2>
        </div>
        <div class="carousel-wrap ">
            <div class="owl-carousel client_owl-carousel">
                <div class="item">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/client1.jpg" alt="" class="box-img">
                        </div>
                        <div class="detail-box">
                            <div class="client_id">
                                <div class="client_info">
                                    <h6>
                                        LusDen
                                    </h6>
                                    <p>
                                        magna aliqua. Ut
                                    </p>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/client2.jpg" alt="" class="box-img">
                        </div>
                        <div class="detail-box">
                            <div class="client_id">
                                <div class="client_info">
                                    <h6>
                                        Zen Court
                                    </h6>
                                    <p>
                                        magna aliqua. Ut
                                    </p>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/client3.jpg" alt="" class="box-img">
                        </div>
                        <div class="detail-box">
                            <div class="client_id">
                                <div class="client_info">
                                    <h6>
                                        Zen Court
                                    </h6>
                                    <p>
                                        magna aliqua. Ut
                                    </p>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end client section -->



<!-- info section -->
<section class="info_section ">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>
                    Online Academy
                </h4>
                <p>
                    Study forever...
                </p>
            </div>
            <div class="col-md-4">
                <div class="info_logo_box">
                    <a href="">
                        oCademy
                    </a>
                    <p>
                        Perfect place to get knowledge
                    </p>
                </div>
                <div class="social_container">
                    <div>
                        <a href="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info_form">
                    <h4>
                        Get more info
                    </h4>
                    <form action="">
                        <input type="text" placeholder="Enter Your Email" />
                        <button type="submit">
                            Subscribe
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end info_section -->


<!-- footer section -->
<footer class="footer_section">
    <div class="container">
        <p>
            &copy; <span id="displayYear"></span> All Rights Reserved By
            <a href="https://html.design/">Free Html Templates</a>
        </p>
    </div>
</footer>
<!-- footer section -->