<link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />

<%if(isPreview){%>
    <% var Counting = 0 %>
              <% var letCount = 0 %> 
              <% var count=0 %>
              <% var name %>
              <% course.content.forEach(function(contents) { %>
                <% count++ %>
                      <% var lessonCount = 0 %>
                      <% contents.chapter.forEach(function(chapter) { %>
                      <%Counting++%>
                      <% if(lessonID == chapter._id){ %> 
                        <%letCount = Counting %>
                        <% name = chapter.lesson %>
                      <% } %>
                      <%lessonCount++ %>
                      <% }) %>
                <% }) %>
      <div class="mt-5">
        <div class="col-md-7">
          <h3 style="text-align: center; font-weight: 700;">Preview</h3>
          <%if(letCount%5==1){%>
            <video id="my-video" class="video-js" autoplay controls preload="auto" data-setup='' loop>
              <source id="videoSource" src="/videos/1. Introduction to the course.mp4" type='video/mp4'>
            </video>
          <%}%>
          <%if(letCount%5==2){%>
            <video id="my-video" class="video-js" autoplay controls preload="auto" data-setup='' loop>
              <source id="videoSource" src="/videos/1. What is node js.mp4" type='video/mp4'>
            </video>
          <%}%>
          <%if(letCount%5==3){%>
            <video id="my-video" class="video-js" autoplay controls preload="auto" data-setup='' loop>
              <source id="videoSource" src="/videos/2. Installing node js on your machine.mp4" type='video/mp4'>
            </video>
          <%}%>
          <%if(letCount%5==4){%>
            <video id="my-video" class="video-js" autoplay controls preload="auto" data-setup='' loop>
              <source id="videoSource" src="/videos/2. Why learn node js.mp4" type='video/mp4'>
            </video>
          <%}%>
          <%if(letCount%5==0){%>
            <video id="my-video" class="video-js" autoplay controls preload="auto" data-setup='' loop>
              <source id="videoSource" src="/videos/3. Installing node js.mp4" type='video/mp4'>
            </video>
          <%}%>
        </div>
      </div>
  



<%}else{%>
    <% if(user){ %>
        <h2 style="text-align: center; font-weight: 700;">Please Buy To Learn This Content</h2>
        <a href="/course/<%=course._id%>" >
            <h4 style="text-align: center;">Go To Course Page</h4>
        </a>
    <% }else{ %>
        <h2 style="text-align: center; font-weight: 700;">Please Login To Learn This Content</h2>
        <a href="/auth/signin" >
            <h4 style="text-align: center;">Login</h4>
        </a>
    <% } %>
<%}%>
        